*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}
body{
    background-color: aliceblue;
}
.container{
    margin-top:10%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:60px;
    
}
.fb-intro{
    height:30%px;
    width:33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.fb-intro h1{
    color:#1877f2;
    font-weight: bolder;    
    font-size:60px;
}
.fb-intro p{
    color:black;
    font-size:28px;

}
.login-card{
    background-color:white;
    height:330px;
    width:25%;
    display: flex;
    flex-direction: column;
    border:none;
    padding:20px;
    border-radius:15px;
    text-align: center;
    box-shadow: red;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.2)
}
.inputs{
    display:flex;
    flex-direction: column;
    gap:15px;
    
}
.inputs input{
    width:100%;
    padding:15px 10px;
    border-radius: 8px;
    border: 0.5px solid gray;
}
.inputs input:hover{
   border-color: #1877f2;
}
.inputs input::placeholder{
    color:grey;
    font-size:15px;
    font-weight: 500;
}
.login-btn{
    width:100%;
    margin-top:15px;
    background-color: #1877f2;
    color:white;
    font-weight: bold;
    font-size:20px;
    border:none;
    border-radius:10px;
    padding:12px;
}
.login-card a{
    margin-top: 15px;
    color:#1877f2;
    margin-bottom:15px;
    text-decoration: none;
}
.login-card a:hover{
    text-decoration: underline;
}
.login-card hr{
    margin-bottom:20px;
}
.new-btn{
    background-color: rgb(24, 180, 24);
    color:aliceblue;
    padding:15px;
    width:55%;
    border:none;
    border-radius: 10px;
    font-weight: bold;
    font-size:15px;
    margin-left:20%;
}